header
{
  background-color: lightgray;
}
.cl_red
{
  background-color: red;
}
.cl_white_f1
{
  background-color: #f1f1f1;

}
.cl_black-w
{
  background-color: black;
  color: white;
}
.ta_center
{
  text-align: center;
}
.wd_100
{
  width:100%
}
#index_1
{
  display:none;
}
#index_5
{
  display:none;
}
button
{
  text-align: left;
}
.bkg_b
{
  background-color:black;
}
.bkg_w
{
  background-color: white;
}
.f_b
{
  color:black;
}
.f_w
{
  color: white;
}
.bold
{
  font-weight: bold;
}

.fl_l
{
  float: left;
}
.html
{
  background-color:black;
  color:orange;
}
.html_example
{
  background-color:orange;
  color: black;
}
.css
{
  background-color: black;
  color: aqua;
}
.js
{
  background-color: black;
  color: yellow;
}
.js_example
{
  background-color: yellow;
  color: black;
}
.war
{
  color:red;
}
#view_ch01
{
  display: none;
}
#view_ch02
{
  display: none;
}
#view_ch03
{
  display: none;
}
#view_ch04
{
  display: none;
}
#index
{
  display:none;
}
#view_ch05
{
  display: none;
}
#ch01_button, #ch02_button, #ch03_button, #ch04_button, #ch05_button
{
  display:inline-block;
  /*
  float: left;
  margin: 15px;
  */
}


#ch03_button {
  float: left;
  margin: 15px;
}
#ch04_button {
  float: left;
  margin: 15px;
}
#ch05_button {
  float: left;
  margin: 15px;
}